@import "sections/variables";
@import "sections/placeholders";
@import "sections/modals";
@import "sections/toastr";
@import "sections/layouts";
@import "sections/homepage";
@import "sections/news";
@import "sections/vri";
@import "sections/learn-more.scss";
@import "sections/login";

body {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  font-family: 'Roboto', sans-serif;

  .primary-layout {
    overflow-x: hidden;
  }

  main {
    min-height: 100vh;
  }
}

.background {
  padding: 20px;
  height: 300px;
  background: url('../assets/nigeria-bgrd.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.loader {
  position: absolute;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@media screen and (min-width: $tablet){
  .background {
    height: 500px;
  }
}
