.home-page {

  .keyword {
    width: 50%;
    display: flex;
    flex-direction: column;
    float: right;
    padding: 15px;

    p {
      margin-bottom: 0;
      color:#000000;
      text-shadow: 4px 0 20px #ffffff;
      font-size: 1.5em;
      font-weight: 500;
    }
  }

  .vri-button {
    background-color: green;
    color: white;
    height: 50px;
    min-width: 175px;
    margin-top: 30px;
    font-size: 1em;
    border: none;

    &:hover {
      background-color: #00FF00;
      color: black;
    }
  }

  .about {
    padding: 20px;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;

    & > a {
      align-self: center;
    }

    h1 {
      text-align: center;
      font-size: 30px;
    }

    p {
      font-size: 25px;
      font-family: 'Nunito', sans-serif ;
      margin: 0 auto 20px;
      line-height: 200%;
      font-weight: 300;

      a {
        margin-left: 10px;
        text-decoration: none;
        color: green;
      }
    }
  }

  .how-it-works {
    padding: 20px;

    h1 {
      text-align: center;
      font-size: 30px;
    }

    section {
      display: flex;
      flex-flow: row wrap;
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        margin-bottom: 20px;
        img {
          max-width: 100px;
        }
        p {
          text-align: center;
          color: #6a7583;
        }
      }
    }
  }
}

@media screen and (min-width: $tablet) {
  .home-page {
    .keyword {
      margin-top: 100px;
      p {
        font-size: 2em;
      }
    }

    .about {
      p {
        width: 60%;
      }
    }

    .how-it-works {
      section {
        div {
          width: 25%;
        }
      }
    }
  }
}
